#!/bin/bash
############
# Slurm template
############

#SBATCH --array=0-${njobs_minus_1}
#SBATCH --cpus-per-task=${ncores}
#SBATCH --time=${max_runtime}
#SBATCH --output=/dev/null
#SBATCH --error=/dev/null

SEEDS=(${all_seeds})
SEED=$${SEEDS[$$SLURM_ARRAY_TASK_ID]}

${exe} --run job.run --iseed $$SEED > job.s$${SEED}.out 2> job.s$${SEED}.err
