#!/bin/bash
############
# Slurm template
############

#SBATCH --array=${start_seed}-${end_seed}
#SBATCH --cpus-per-task=${ncores}
#SBATCH --time=${max_runtime}
#SBATCH --output=job.s%a.out
#SBATCH --error=job.s%a.err

${exe} --run job.run --iseed $$SLURM_ARRAY_TASK_ID
